.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
}
img {
  max-width: 100%;
  vertical-align: middle;
}
/* button */
.btn {
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 33px;
}

.btn.btn-sm {
  font-size: 12px;
  padding: 4px 8px;
}
.btn-yellow {
  background-color: #ffd327;
  color: #333;
}
.btn-yellow:hover {
  background-color: #ecbe0a;
  color: #333;
}
.btn span svg {
  display: inline;
  vertical-align: middle;
  margin-right: 7px;
  width: 13px;
}

.text-sm {
  font-size: 12px;
}

.otherpage-banner {
  min-height: 300px;
  background-image: url(./assets/images/other-page-banner.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherpage-banner h2 {
  font-size: 40px;
  color: #333;
}

.heading {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #545353;
}

.main-content {
  min-height: 100vh;
}

.Admin-screen {
  display: flex;
}

.admin-sidenav {
  flex: 0 0 240px;
  max-width: 240px;
}

.Admin-screen .main-content {
  flex: 0 0 calc(100% - 240px);
  max-width: calc(100% - 240px);
}
.Admin-screen .main-content > .container-fluid {
  padding-top: 100px !important;
}
.admin-header {
  min-height: 74px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: fixed;
  width: 100%;
  box-shadow: 2px 3px 3px #eaeaea;
}
.admin-header h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}

.form-card {
  box-shadow: 1px 0px 5px -1px #cecbcb;
}

.alert {
  text-transform: capitalize;
}

.scrallable-div {
  max-height: 500px;
  overflow-y: auto;
}

.form-control {
  border-radius: 0;
  font-size: 13px;
  min-height: 35px;
}

.product-img {
  height: 200px;
  width: 200px;
}

.product-image-holder {
  position: relative;
  min-height: 42px;
  margin-top: 10px;
}
.product-image-holder input {
  border: 1px solid red;
  height: 42px;
  opacity: 0;
}
.product-image-holder input,
.product-image-holder .upload-btn {
  position: absolute;
  left: 0;
  top: 0;
}

select {
  text-transform: capitalize;
}
