.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
}

/* button */
.btn {
  border-radius: 3px;
}

.btn.btn-sm {
  font-size: 12px;
}

.btn span svg {
  display: inline;
  vertical-align: bottom;
  margin-right: 3px;
}

.text-sm {
  font-size: 12px;
}
